<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            function getTrafficLightData() {
                const userAction = async () => {
                const response = await fetch('http://trafficlights.tampere.fi/api/v1/deviceState/tre428');
                const myJson = await response.json(); //extract JSON from the http response
                // do something with myJson

                let response = myJson["responseTs"] & "\n" 
                myJson["signalGroup"].forEach(element => {
                    response = response & element & "\n"
                });
                return myJson["responseTs"]
                }

            }

        </script>
    </head>
<body>

