.App {
  text-align: center;
  font-family: fantasy;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}


#App-header {
  background-color: #141b29;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  color: azure;
}

#playButton {
  outline-color: azure;
  color: azure;
  background-color: #141b29;
  border-color: #141b29;
  font-family: fantasy;
  border-radius: 12px;
  outline-color: #2b8664;
  height: 10vh;
  width: 30vh;
  font-size: 5vh;
  margin: 5px;
}

.keho {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background: #2b8664;
  justify-content: center;
  flex-direction: column;
  font-family: fantasy;
}

.messageBoard {
  height: 0px;
  font-size: 4vh;
}

#pointDisplay {
  font-size: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}